@{
    Layout = "_Layout.cshtml";
    Page.title = "主页";
}
<!DOCTYPE html>
<html>
<head>
    <title>Bootstrap 101 Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-3" role="complementary">
                <nav class="hidden-print hidden-sm hidden-xs affix">
                    <ul class="nav">
                        <li>
                            <a href="#">文章</a>
                            <ul>
                                <li>
                                    <a href="#">分类1</a>
                                    <a href="#">分类2</a>
                                    <a href="#">分类3</a>
                                    <a href="#">分类4</a>
                                </li>
                            </ul>
                        </li>
                        <li><a href="#"></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</body>
</html>