@{
    Layout = "_Layout.cshtml";
    Page.title = "主页";
}
<!DOCTYPE html>
<html>
<body>
    <link href="css/float_nav.css" rel="stylesheet" />
    <div class="row">
        <div class="container">
            <div class="col-md-3">
                <ul class="nav nav-tabs nav-stacked affix" id="myNav">
                    <li class="active"><a href="#section-1">主页</a></li>
                    <li><a href="#section-2">文章</a></li>
                    <li><a href="#section-3">随笔</a></li>
                    <li><a href="#section-4">用户注册</a></li>
                    <li><a href="#section-5">用户登录</a></li>
                    <li><a href="#section-6">返回顶部</a></li>
                </ul>
            </div>
            <div class="col-md-9">
            </div>
        </div>
    </div>
</body>
</html>